.restaurants__tiles {
    background-color: #cfdbe6;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    width: 80vw;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2rem;
    gap: 1rem;
    &:hover {
        cursor: pointer;
    }
}

.restaurants__details {
    padding-left: 1rem;
    padding-top: 1rem;
}

.restaurants__details_header {
    font-weight: 900;
    font-size: larger;
}